.login-container { 
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

p {
    margin: 10px 0 !important;
}

.login-validation {
    color: #d50000;
    font-size: medium;
    padding-top: 20px;
}

#helper-text{
    color: #d50000;
}

#swe {
    display: none;
}

#error-messages {
    color: #d50000;
    font-size: medium;
}

.page, .vol-menu-hidden{
	display: none;
}

.page.current-page{
	display: block;
}
input.search-field {
    font-weight: 500;
    color: #0000008a;
    border: 0;
    border-radius: 5px;
    height: 36px;
    padding: 8px 8px 8px 60px;
    width: 600px;
    background: #f7f7f7;
    transition: background 0.2s, width .2s;
  }
  input.search-field:hover {
    background: #ebebeb;
  }
  #lens-search-button,#wiki-search-button{
    margin: 20px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
  }
  #lens-search-icon,#wiki-search-icon{

    display: inline;
  }
